<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'partials/header.html' %}
    <meta charset="UTF-8">
    <title>CFP Scanner</title>
</head>
<body>
    {% include 'partials/navbar.html' %}

    <main role="main" class="container">

        <div class="jumbotron">
          <h1 class="display-4">Never miss a conference again.</h1>
          <p class="lead">Get information on the conferences that interest you, without having to search for them.</p>
        </div>

        <div class="container">
            <div class="row">
              <div class="col-md-6">
                <h2>What is CFP Scanner?</h2>
                <p>CFP Scanner is a community-powered database for storing information about upcoming conferences.
                A Call for Paper can be contributed by sending it via email to
                <a href="mailto: cfpscanner@mail.com">cfpscanner@mail.com</a>. Once contributed,
                any relevant details will be extracted and then the event will be seen on the homepage.<p>
              </div>
              <div class="col-md-6">
                <h2>How does it work?</h2>
                <p>CFP Scanner uses natural language programming  techniques to extract information from a Call for Papers message. Each email is first checked using a pre-trained classifier to
                determine whether it contains information about a conference. If it does, a rule-based system is used to extract details and
                populate a database.</p>
              </div>
            </div>
    </main>
</body>
</html>



