<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'partials/header.html' %}
    <meta charset="UTF-8">
    <title>CFP Scanner</title>
    <script type="module" src="/static/javascripts/ics.deps.min.js.js"></script>
    <script src="/static/javascripts/index.js"></script>

</head>
<body>
    {% include 'partials/navbar.html' %}
    <main role="main" class="container">
        <h1>CFP Scanner</h1>
        <p>To contribute to the calendar, forward a Call for Paper to <a href="mailto: cfpscanner@mail.com">cfpscanner@mail.com</a></p>
    </main>

    <div id="content" class="container">

    </div>
</body>
</html>



