<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'partials/header.html' %}
    <meta charset="UTF-8">
    <title>CFP Scanner</title>
    <script src="/static/javascripts/index.js"></script>

</head>
<body>
    {% include 'partials/navbar.html' %}
    <main role="main" class="container">

        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">CFP Scanner <span class="badge badge-primary">Beta</span></h1>
              <p class="lead text-muted">Quickly get relevant information about upcoming conferences, contributed by members of the community.</p>
              <p>
                <a href="mailto:cfpscanner@mail.com?subject=CFP%20submission" class="btn btn-primary my-2">Submit a CFP</a>
                <a href="/about" class="btn btn-secondary my-2">Learn more</a>
              </p>
            </div>
      </section>

    </main>

    <div id="conferenceFilters" class="container">
        <form class="form-inline">
            <div class="dropdown mb-2 mr-sm-2">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="showOptionsDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Conference options
              </button>
              <div class="dropdown-menu" aria-labelledby="showOptionsDropdownMenuButton">
                <a class="dropdown-item" id="showCurrent" href="javascript:void(0)">Only show current conferences</a>
                <a class="dropdown-item" id="showAll" href="javascript:void(0)">Show previous conferences as well</a>
              </div>
            </div>

            <div class="dropdown mb-2 mr-sm-2">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="sortByDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort by...
              </button>
              <div class="dropdown-menu" aria-labelledby="sortByDropdownMenuButton">
                <a class="dropdown-item" id="sortBySubmissionDeadline" href="javascript:void(0)">Submission deadline</a>
                <a class="dropdown-item" id="sortByStartDate" href="javascript:void(0)">Conference start date</a>
              </div>
            </div>

            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Search conferences</span>
              </div>
              <input id="conferenceSearch" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </form>
    </div>


    <div id="content" class="container">


    </div>
</body>
</html>



