<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'partials/header.html' %}
    <meta charset="UTF-8">
    <title>CFP Scanner</title>
    <script src="/static/javascripts/index.js"></script>

</head>
<body>
    {% include 'partials/navbar.html' %}
    <main role="main" class="container">

        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">CFP Scanner <span class="badge badge-primary">Beta</span></h1>
              <p class="lead text-muted">Quickly get relevant information about upcoming conferences, contributed by members of the community.</p>
              <p>
                <a href="mailto:cfpscanner@mail.com?subject=CFP%20submission" class="btn btn-primary my-2">Submit a CFP</a>
                <a href="/about" class="btn btn-secondary my-2">Learn more</a>
              </p>
            </div>
      </section>

    </main>

    <div id="content" class="container">

    </div>
</body>
</html>



